<div class="p-5 bg-[#f5f5f5] shadow-lg">
    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="flex w-full items-center">
                <img class="object-cover w-[5rem] h-[5rem] object-top"
                    src="https://img.freepik.com/premium-photo/sexy-fashion-woman-stylish-yellow-blazer-sits-chair-indoors_179135-241.jpg?w=360"
                    alt="">
                <div class="ml-5">
                    <p class="font-semibold text-lg">Product Title</p>
                    <p class="text-sm text-gray-400">Size: M</p>
                    <p class="text-sm text-gray-400">Color: Blue</p>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <p class="text-lg font-semibold">₹499</p>

        </div>
        <div class="col-span-2">
            <p class="text-[1.2vw] font-bold">Expected Delivery on <span class="text-green-500">March 03</span></p>
            <p class="text-sm">Your itam has been delivered</p>
        </div>
    </div>
</div>