<app-navbar/>
<div class="pt-16 px-5 lg:px-16 bg-[#f5f5f5]"> 
    <div class="py-5">
        <h2>Order Status</h2>
        <app-order-tracker activeStep="Placed" [steps]="steps"/>
    </div>
    <div class="space-y-10 pt-10">
        <div class="p-5 px-10">
            <h1 class="text-lg font-semibold py-5">Shipping Address</h1>
            <app-address-card/>
        </div>
        <div class="space-y-6 mt-20 pb-10">
            <div *ngFor="let orderItems of Orders">
                <app-order-card/>
            </div>
        </div>
    </div>
</div>
<app-footer/>