<div class="max-w-[100vw] overflow-hidden h-[40vh] p-2 gap-2 flex text-wrap">
    <div class="card h-full w-[50vw]">
        <img src="../../../assets/vivid-detailed-high-concept-photo-realistic-hip-hop-urban-banner.jpg"
            class="w-full h-full object-cover rounded-[6px]" alt="">
        <p class="relative text-4xl text-white -top-[60%] font-semibold left-[32%] ">Style <span
                class="text-[#de7c31]">With</span> Us</p>
    </div>

    <div class="card h-full w-[50vw]">
        <img src="../../../assets/lb.jpg" class="h-full object-cover w-full rounded-[6px]" alt="">
        <p class="relative text-4xl text-white -top-[60%] font-semibold left-[23%]">Weave <span
                class="text-[#fbff1c]">Your </span>Moments</p>
    </div>
</div>