<div class="main-nav fixed top-0 right-0 left-0 z-50 w-full px-10 text-white">
  <div class="h-16 flex justify-between items-center">
    <div>
      <a
        (click)="navigateToCart('/')"
        class="text-[2vw] font-semibold uppercase cursor-pointer"
        routerLink="/"
      >
        <span class="text-[#de7c31] hover:text-[#36d5e3]">c</span>
        <span class="text-[#fbff1c] hover:text-[#2be03a]">l</span>
        <span class="text-[#36d5e3] hover:text-[#f026b7]">o</span>
        <span class="text-[#36d5e3] hover:text-[#f026b7]">t</span>
        <span class="hover:text-[#fbff1c]">h</span>
        <span class="text-[#de7c31] hover:text-[#2be03a]"> g</span>
        <span class="text-[#fbff1c] hover:text-[#f026b7]">a</span>
        <span class="text-[#36d5e3] hover:text-[#2be03a]">r</span>
        <span class="text-[#f026b7] hover:text-[#ffffff]">r</span>
        <span class="hover:text-[#36d5e3]">a</span>
        <span class="text-[#2be03a] hover:text-[#ffffff]">g</span>
        <span class="text-[#36d5e3] hover:text-[#fbff1c]">e</span>
      </a>
    </div>
    <div class="flex items-center">
      <div class="flex gap-5">
        <a class="nav-link" routerLink="/" (click)="navigateHome('/')">Home</a>
        <button
          class="nav-link"
          (click)="openNavbarContent('men')"
          mat-button
          (click)="toggleMenMenu()"
        >
          Men
        </button>
        <div
          class="submenu-wrap absolute top-[100%] mt-1 right-[42%] w-[200px] bg-black text-[#f5f5f5] rounded-[6px]"
        >
          @if(isMenMenuOpen){
          <div class="submenu pb-2 pt-2 m-[10px]">
            <div
              class="info flex items-center flex-col justify-between bottom-[100%]"
            >
              <button
                class="pb-2 hover:text-[#fbff1c]"
                (click)="handleNavigate('/men/clothing/tshirt')"
              >
                Men's T-shirt
              </button>

              <button
                class="pb-2 hover:text-[#36d5e3]"
                (click)="handleNavigate('/men/clothing/shirts')"
              >
                Men's Shirts
              </button>
              <button
                class="pb-2 hover:text-[#de7c31]"
                (click)="handleNavigate('/men/clothing/pants')"
              >
                Men's Pants
              </button>
              <button
                class="pb-2 hover:text-[#f026b7]"
                (click)="handleNavigate('/men/clothing/traditional')"
              >
                Men's Traditional Wear
              </button>
            </div>
          </div>
          }
        </div>

        <button
          class="nav-link"
          (click)="openNavbarContent('women')"
          mat-button
          (click)="toggleWomenMenu()"
        >
          Women
        </button>
        <div
          class="submenu-wrap absolute top-[100%] right-[37%] mt-1 w-[200px] bg-black text-[#f5f5f5] rounded-[6px]"
        >
          @if(isWomenMenuOpen){
          <div class="submenu pb-2 pt-2 m-[10px]">
            <div
              class="info flex items-center flex-col justify-between bottom-[100%]"
            >
              <button
                class="pb-2 hover:text-[#de7c31]"
                (click)="handleNavigate('/women/clothing/ethnic')"
              >
                Women's Ethnic Wear
              </button>
              <button
                class="pb-2 hover:text-[#fbff1c]"
                (click)="handleNavigate('/women/clothing/western')"
              >
                Women's Western Wear
              </button>
              <button
                class="pb-2 hover:text-[#36d5e3]"
                (click)="handleNavigate('/women/clothing/traditional')"
              >
                Women's Traditional
              </button>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="flex items-center justify-items-center gap-5">
      @if(userProfile){

      <div class="flex items-center gap-5">
        <div class="flex item-center gap-5">
          <span class="text-[1.3vw] flex items-center text-white mr-[-12px] pt-[3px]">{{userProfileData.firstName}} {{userProfileData.lastName}}</span>
          <img
            src="../../assets/p.jpg"
            class="w-[30px] rounded-full cursor-pointer"
            (click)="toggleMenu()"
          />
          <div
            class="submenu-wrap absolute top-[100%] mt-1 right-[1%] w-[120px] bg-black text-[#f5f5f5] rounded-[6px]"
          >
            @if(isMenuOpen){
            <div class="submenu pb-2 pt-2 m-[10px]">
              <div
                class="info flex items-center flex-col justify-between bottom-[100%]"
              >
                <button
                  class="pb-2 hover:text-[#fbff1c]"
                  (click)="navigateToOrder('account/orders')"
                >
                  Orders
                </button>
                <!-- <button class="pb-2 hover:text-[#36d5e3]">Profile</button> -->
                <button
                  class="hover:hover:text-[#de7c31]"
                  (click)="handleLogout()"
                >
                  Logout
                </button>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      }
      <button
        (click)="handleOpenLoginModel('login')"
        class="nav-btn"
        *ngIf="!userProfile"
      >
        Login
      </button>
      <button
        (click)="handleSignUpModel('register')"
        class="nav-btn"
        *ngIf="!userProfile"
      >
        Signup
      </button>
    </div>
  </div>
</div>
