<div class="flex flex-col bg-[#f5f5f5] rounded-[6px] mr-1 h-full">
  <div class="w-full rounded-[6px] flex flex-col">
    <div class="w-full bg-gray-200 p-1 rounded-[6px] flex pt-4">
      <p class="font-[500] text-[24px]">Customers</p>
    </div>
    <div class="w-full bg-[#f5f5f5] mt-2 p-1 rounded-[6px] overflow-hidden">
      <table class=" w-full rounded-[6px]">
        <tr class="text-center text-[18px] p-3 bg-gray-200 leading-8">
          <th>No</th>
          <th>First Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
        <tr class="text-center" *ngFor="let item of clientArray; let index = index">
          <td class="p-3">{{index+1}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.role}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
